.iconosFlechas{
    width: 50px;
}

.iconoTitle{
    width:  50px;
}

.mirror{
    transform:  scaleX(-1);
}

.iconosPequeños{
    width: 25px; height: 25px;
}

.disponible{
    border-color:#5cb85c;
}

.terminado{
    border-color:#d9534f;
}

.iconosDiminutos{
    width: 15px; height: 15px;
}

.required{    
    color: #E3342F;
}